A1/code/*.pkl
A2/model
A2/code/__pycache__
A3/model
A3/models
A3/code/__pycache__
A4/model
A4/code/__pycache__
A5/mlruns
A5/code/__pycache__
A5/wandb
A5/trainer_output
A6/model
A6/code/__pycache__
A6/vector-store
A7/model
A7/student-lora
A7/wandb